body {
    background-color: black;
}

p {
    color: green;
}

h2 {
    color: red;
}

u {
    color: red;
}

h1 {
    color: red;
}

form {
    color: white;
}

th {
    color: white;
}

td {
    color: white;
}

.pokemon {
    width: 100%;
    display: block;
    margin: auto;
}
